/****************
      GLOBAL
*****************/

body {
  background-color: #eeeeee;
  background-image: 
    repeating-linear-gradient(#e9e9e9 0 1px, transparent 1px 6px),
    repeating-linear-gradient(90deg, #e9e9e9 0 1px, transparent 1px 6px);
}

section {
  margin-bottom: 1.5rem;
}

section p:last-child {
  margin-bottom: 0rem;
}

blockquote {
  background-color: #e9e9e9;
  padding: 1rem;
  border-radius: 0.75rem;
  font-style: italic;
}

/****************
      NAVBAR
*****************/

.navbar-nav-svg{display:inline-block;vertical-align:-.125rem}

@include media-breakpoint-down(md) {
  div.offcanvas-body {
    background-color: $light;
  
  
  ul.navbar-nav {
  }

    li.nav-item {
      margin-bottom: 1rem;
    } 

    a.nav-link {
      background-color: $body-tertiary-bg;    
      padding: 0.75rem 1rem;
      color: $primary;
      border-radius: 0.75rem;
    }

    .active {
      color: $dark !important;
    }

  }
  }

/****************
      ASIDE
*****************/

#kategorien,
#neuste-beitraege {

  li.nav-item {
    border-bottom: 1px solid;
    border-color: $gray-400;
    padding: 0.5rem 0;
  }

  li.nav-item:last-child {
    border-bottom: 0;
    padding: 0.5rem 0 0 0;
  }

  li.nav-item:first-child {
    padding: 0 0 0.5rem 0;
  }

  li:last-child {
    padding-bottom: 0;
  }

}

/****************
      CUSTOMS
*****************/

.tw-bg {
  background-color: var(--tw-tertiary-bg);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

/****************
      SEARCH
*****************/

.search-container {
  margin: 20px 0;
  margin: 0 auto;
}

.search-field {
  position: relative;
}


.search-result {
  position: relative;
  padding: 10px;
  background-color: var(--tw-tertiary-bg);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.search-result:last-child {
  border-bottom: none;
}

.search-result  {
  margin: 0 0 1.25rem 0;
}

.search-result h3 a {
  text-decoration: none;
}

.search-result h3 a:hover {

}

.search-result p {
  margin: 0;
}

.no-results {
  color: #999;
  text-align: center;
}

/****************
      SHARE
*****************/

.sharebuttons,
.sharebuttons ul {
    display: flex;
    margin: 0 0;
    align-items: center;
}

.sharebuttons ul li {
    list-style: none;
    margin: 0;
}

.sharebuttons ul li a {
    padding: 0 0.5rem;
    display: block;
    color: #006797;
}

.sharebuttons ul li a svg {
    width: auto;
    height: 1rem;
    display: block;
}

.will-change {
    transition: 250ms;
}

/****************
      COOKIES
*****************/

#consent-notice {display: none; position: fixed; bottom: 0; }

    
#consent-overlay {position: fixed; left: 0; top: 0; width: 100%; height: 100vh; display: none; background: rgba(0,0,0,0.75); z-index: 999999; overflow: auto; cursor: pointer;}
#consent-overlay.active {display: flex;}
#consent-overlay > div {background: white; width: 100%; max-width: 30rem; padding: 1.75rem; margin: auto; cursor: initial;}
#consent-overlay > div > div {display: flex; align-items: flex-start; margin-bottom: 1rem;}
#consent-overlay > div > div:last-child {margin: 0;}
#consent-overlay h3 {padding-top: 0;}
#consent-overlay input {margin-top: 0.3rem;}
#consent-overlay label {display: block;}
#consent-overlay .btn {margin-right: 0.5rem;}

@media (max-width: 767px) {
    #consent-overlay > div {padding: 1.75rem 1rem;}
    #consent-notice span {display: block; padding-top: 3px; margin-bottom: 1.5rem;}
    #consent-notice button.btn {position: relative; bottom: 4px;}
}