/****************
      GLOBAL
*****************/

section {
  margin-bottom: 1.5rem;
}

section p:last-child {
  margin-bottom: 0rem;
}


/****************
      NAVBAR
*****************/

.navbar-nav-svg{display:inline-block;vertical-align:-.125rem}

@include media-breakpoint-down(md) {
  div.offcanvas-body {
    background-color: $light;
  
  
  ul.navbar-nav {
  }

    li.nav-item {
      margin-bottom: 1rem;
    } 

    a.nav-link {
      background-color: $body-tertiary-bg;    
      padding: 0.75rem 1rem;
      color: $primary;
      border-radius: 0.75rem;
    }

    .active {
      color: $dark !important;
    }

  }
  }

/****************
      ASIDE
*****************/

#kategorien,
#neuste-beitraege {

  li.nav-item {
    border-bottom: 1px solid;
    border-color: $gray-400;
    padding: 0.5rem 0;
  }

  li.nav-item:last-child {
    border-bottom: 0;
    padding: 0.5rem 0 0 0;
  }

  li.nav-item:first-child {
    padding: 0 0 0.5rem 0;
  }

  li:last-child {
    padding-bottom: 0;
  }

}

/****************
      CUSTOMS
*****************/

.tw-bg {
  background-color: var(--tw-tertiary-bg);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

/****************
      SEARCH
*****************/

.search-container {
  margin: 20px 0;
  margin: 0 auto;
}

.search-field {
  position: relative;
}


.search-result {
  position: relative;
  padding: 10px;
  background-color: var(--tw-tertiary-bg);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.search-result:last-child {
  border-bottom: none;
}

.search-result  {
  margin: 0 0 1.25rem 0;
}

.search-result h3 a {
  text-decoration: none;
}

.search-result h3 a:hover {

}

.search-result p {
  margin: 0;
}

.no-results {
  color: #999;
  text-align: center;
}

/****************
      SHARE
*****************/

.sharebuttons,
.sharebuttons ul {
    display: flex;
    margin: 0 0;
    align-items: center;
}

.sharebuttons ul li {
    list-style: none;
    margin: 0;
}

.sharebuttons ul li a {
    padding: 0 0.5rem;
    display: block;
    color: #006797;
}

.sharebuttons ul li a svg {
    width: auto;
    height: 1rem;
    display: block;
}

.will-change {
    transition: 250ms;
}