// global


// main-nav

#main-nav {
  .nav-link {
    color: #cecece;
  }

  .nav-link:hover {
    color: #ffffff;
  }

 a.nav-link.active {
    color: #fff;
    font-weight: 600;
  }
}

section {
  margin-bottom: 1.5rem;
}

section p:last-child {
  margin-bottom: 0rem;
}

//** blog



// aside

#kategorien,
#neuste-beitraege {

  li.nav-item {
    border-bottom: 1px solid;
    border-color: $gray-400;
    padding: 0.5rem 0;
  }

  li.nav-item:last-child {
    border-bottom: 0;
    padding: 0.5rem 0 0 0;
  }

  li.nav-item:first-child {
    padding: 0 0 0.5rem 0;
  }

  li:last-child {
    padding-bottom: 0;
  }

}

// p7

.p7-bg {
  background-color: var(--p7-tertiary-bg);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.p7-border {
  border-left: 3px solid #ccc;
}
.p7-border:hover {
  border-left: 3px solid $primary;
}




// search

.search-container {
  margin: 20px 0;
  margin: 0 auto;
}

.search-field {
  position: relative;
}


.clear-button {
  display: none;
}


.search-result {
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--p7-tertiary-bg);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.search-result:last-child {
  border-bottom: none;
}

.search-result h3 {
  margin: 0 0 5px 0;
}



.search-result h3 a:hover {
  color: #0056b3;
}

.search-result p {
  margin: 0;
}

.no-results {
  color: #999;
  text-align: center;
}










