<section id="main-contact">
    <h2 class="fw-semibold pt-5">Lassen Sie uns zusammenarbeiten</h2>
    <p class="lead fw-normal">Ihr Erfolg im Internet beginnt mit einer Entscheidung – der Entscheidung für
        Elematic.at.</p>
        <p class="mb-4">Kontaktieren Sie mich noch heute, um zu besprechen, wie wir gemeinsam Ihre Vision einer
            perfekten Website verwirklichen können. In Wien und darüber hinaus stehe ich bereit, Ihre digitale
            Präsenz auf das nächste Level zu heben.</p>
    <div class="row">
        <div class="col-lg-8">
            <form class="row g-4 needs-validation" novalidate action="https://formspree.io/f/xknoepjo" method="POST">
                <div class="col-12">
                    <input type="text" class="form-control" autocomplete="family-name" id="validation-vorname" value="" name="Vorname"
                        placeholder="Name" required />
                    <div class="valid-feedback">Eingabe valid.</div>
                </div>
                <div class="col-12">
                    <input type="email" class="form-control" autocomplete="off" id="validation-email" aria-describedby="emailHelp"
                        name="email" placeholder="E-Mail" required />
                    <div class="valid-feedback">Eingabe valid.</div>
                </div>

                <div class="col-12">
                    <textarea class="form-control" autocomplete="off" id="validation-textarea" style="min-height: 250px"
                        placeholder="Nachricht" name="nachricht" required></textarea>
                    <div class="valid-feedback">Eingabe valid.</div>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
                        <label class="form-check-label small" for="invalidCheck">
                            Ich stimme zu, dass meine Angaben und Daten zur Beantwortung meiner
                            Anfrage gemäß der <a class="link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ "/datenschutz.html" | relative_url
                                }}">Datenschutzerklärung</a>
                            verarbeitet werden. Meine
                            Einwilligung kann ich jederzeit zukünftig per E-Mail widerrufen.
                        </label>
                        <div class="invalid-feedback">Zustimmung erforderlich.</div>
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" role="button" type="submit">
                        Nachricht absenden
                    </button>
                </div>
            </form>
        </div>


        <div class="col-lg-4 text-lg-end">

        </div>
    </div>
</section>