<div id="cookie-notice" class="shadow-sm">
    <p class="mb-2 small">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
        </svg>
        Diese Website speichert Cookies auf Ihrem Computer. Weitere Informationen zu
        den von uns verwendeten Cookies finden Sie in unserer Datenschutzerklärung.
    </p>



    <a id="cookie-notice-accept" class="btn btn-sm btn-success" role="button">Akzeptieren</a>

    <a class="btn btn-sm  btn-info" href="{{ "/Datenschutz.html" | relative_url }}"
        role="button">Datenschutz</a>



</div>






<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name, "", -1);
    }

    if (readCookie('cookie-notice-dismissed') == 'true') {
        {% include alert.js %}
    } else {
        document.getElementById('cookie-notice').style.display = 'block';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click", function () {
        createCookie('cookie-notice-dismissed', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>