<footer id="footer">
      <div class="row align-items-center mb-4">
        <div class="col-12 col-lg-4 text-center text-lg-start small">
          <span>{{ site.copyright }}</span>
        </div>
        <div class="col-12 col-lg-4 py-2 text-center">
          {% include social-media.html %}
        </div>
        <div class="col-12 col-lg-4 text-lg-end">
          <ul class="nav justify-content-center justify-content-lg-end">
            <li class="d-inline mb-0 ps-0 ps-lg-3"><a href="{{ "/datenschutz.html" | relative_url }}"
                class="link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Datenschutz</a>
            </li>
            <li class="d-inline mb-0 ps-0 ps-lg-3"><a href="{{ "/impressum.html" | relative_url }}"
                class="link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Impressum</a>
            </li>
          </ul>
        </div>


    </div>
  </footer>