{{ define "main" }}

<section id="blog-introduction" class="p7-bg">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <p>
        Ich lade euch ein, meine Perspektiven zu lesen, zu hinterfragen und zu diskutieren, in dem Wissen,
        dass Meinungsvielfalt eine Bereicherung für uns alle ist. Viel Spaß beim Lesen und Teilen der
        Gedanken!
    </p>
</section>

{{ $pages := where site.RegularPages "Type" "posts" }}
{{ $paginator := .Paginate $pages }}

<section id="blog-post-list">
    {{ range $paginator.Pages }}
    <article class="p7-bg p7-border position-relative mb-4">
        <div class="row">
            <div class="col-12 col-md-4">

                {{ $image := (.Resources.ByType "image").GetMatch "*jpg" }}
                {{ $isFirstImage := true }}
                {{ with $image }}
                  <div class="img-container">
                    <img 
                      src="{{ (.Resize "320x webp").RelPermalink }}"
                      srcset="{{ (.Resize "320x webp").RelPermalink }} 320w,
                              {{ (.Resize "480x webp").RelPermalink }} 480w,
                              {{ (.Resize "700x webp").RelPermalink }} 700w"
                      sizes="(max-width: 320px) 320w,
                             (max-width: 480px) 480w,
                             700px"
                      width="{{ .Width }}"
                      height="{{ .Height }}"
                      alt="{{ $.Params.idescription }}"
                      class="img-fluid mb-4 rounded-3"
                      {{ if $isFirstImage }}
                        fetchpriority="high"
                      {{ else }}
                        loading="lazy"
                      {{ end }}
                    >
                  </div>
                  {{ $isFirstImage = false }}
                {{ end }}

            </div>
            <div class="col-12 col-md-8">
                <h2 class="h4 mb-2">
                    <a href="{{ .RelPermalink }}" class="text-decoration-none stretched-link">
                        {{ .LinkTitle | truncate 100 | plainify }}
                    </a>
                </h2>
                <div class="small mb-2">
                    <p class="mb-0 d-inline text-secondary">Von {{ .Params.author }} am </p>
                        {{ partial "time.html" . }}
                </div>
                {{ .Summary | truncate 200 | plainify }}
                
            </div>
        </div>
    </article>
    {{ end }}
</section>

{{ partial "pagination.html" . }}

{{ end }}