{{ define "main" }}

<!-- Blog Introduction -->
<section id="blog-introduction" class="tw-bg">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <p>
        Ich lade euch ein, meine Perspektiven zu lesen, zu hinterfragen und zu diskutieren, in dem Wissen,
        dass Meinungsvielfalt eine Bereicherung für uns alle ist. Viel Spaß beim Lesen und Teilen der
        Gedanken!
    </p>
</section>

<!-- Article + Paginator Range -->
{{ $pages := where site.RegularPages "Type" "posts" }}
{{ $paginator := .Paginate $pages }}

{{ range $paginator.Pages }}
<article class="tw-bg position-relative mb-4">
    <div class="row">
        <!-- Picture -->
        <div class="col-12 col-md-4">
            {{ $images := (.Resources.ByType "image").Match "*small*.jpg" }}
            {{ range $index, $image := $images }}
                <picture>
                    <source srcset="{{ ($image.Resize " 471x353 webp").RelPermalink }}" type="image/webp">
                    <source srcset="{{ ($image.Resize " 471x353 jpg").RelPermalink }}" type="image/jpeg">
                    <img src="{{ ($image.Resize " 471x353 jpg").RelPermalink }}" width="314" height="235"
                        alt="{{ $.Params.idescription }}" class="img-fluid w-100 mb-4 rounded-3" {{ if eq $index 0
                        }}fetchpriority="high" {{ else }}loading="lazy" {{ end }} decoding="async">
                </picture>
            {{ end }}
        </div>
        <!-- Title + Content  -->
        <div class="col-12 col-md-8">
            <h2 class="h4 mb-2">
                <a href="{{ .RelPermalink }}" class="text-decoration-none stretched-link">
                    {{ .LinkTitle | truncate 100 | plainify }}
                </a>
            </h2>
            <p class="text-secondary small mb-2">Von&nbsp;{{ .Params.author }}&nbsp;am&nbsp;{{ partial "time.html" . }}</p>
            <p class="mb-0">{{ .Summary | truncate 200 | plainify }}</p>
        </div>
    </div>
</article>
{{ end }}

<!-- Pagination -->
{{ partial "pagination.html" . }}

{{ end }}