{{ define "main" }}

<!-- Article Single Post-->
<article class="tw-bg mb-4">
  <!-- Article header -->
  <header id="single-post-header">
    <!-- Title -->
    <h1>{{ .Title }}</h1>

    <!-- Author + Published Time -->
    <div class="d-flex flex-column mb-3 text-secondary small">
      <p class="mb-1">Von&nbsp;{{ .Params.author }}&nbsp;am&nbsp;{{ partial "time.html" . }}</p>
      <p class="mb-2">{{ printf "Geschätzte Lesezeit: %d Minuten" .ReadingTime }}</p>
    </div>
  </header>

  <!-- Picture -->
  <div id="single-post-picture">
    {{ $image := (.Resources.ByType "image").GetMatch "*jpg" }}
    {{ with $image }}
    <picture>
      <source srcset="{{ (.Resize " 320x webp").RelPermalink }} 320w, {{ (.Resize "480x webp" ).RelPermalink }} 480w, {{
        (.Resize "608x webp" ).RelPermalink }} 608w, {{ (.Resize "811x webp" ).RelPermalink }} 811w" sizes="(max-width: 320px) 320px,
           (max-width: 480px) 480px,
           (max-width: 608px) 608px,
           100vw" type="image/webp">
      <img src="{{ (.Resize " 811x608 jpg").RelPermalink }}" srcset="{{ (.Resize " 320x jpg").RelPermalink }} 320w, {{
        (.Resize "480x jpg" ).RelPermalink }} 480w, {{ (.Resize "608x jpg" ).RelPermalink }} 608w, {{
        (.Resize "811x jpg" ).RelPermalink }} 811w" sizes="(max-width: 320px) 320px,
           (max-width: 480px) 480px,
           (max-width: 608px) 608px,
           100vw" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $.Params.idescription }}"
        class="img-fluid mb-4 rounded-3" loading="eager" fetchpriority="high" style="max-width: 100%; height: auto;">
    </picture>
    {{ end }}
  </div>


  <!-- Article Body -->
  <section id="single-post-content" class="mb-0">
  {{ .Content }}
  </section>

  <!-- Article Footer -->
  <footer id="single-post-footer" class="border-top mt-3 pt-3 border-secondary border-opacity-25">
    <div class="d-flex flex-column flex-md-row justify-content-between p-0 m-0">
      <div class="mb-2 mb-md-0">
        <p class="mb-0">
          {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        </p>
      </div>
  
      <div>
        {{ partial "share-buttons.html" . }}
      </div>
    </div>
  </footer>

</article>

<!-- Disqus 
<div id="disqus_thread" class="tw-bg mt-4"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->



<!-- Article Single Post Pagination-->

<div class="d-flex justify-content-center mb-4">

  {{ $pages := .CurrentSection.Pages.ByWeight }}

  <!-- Nächster Eintrag -->
  {{ with $pages.Prev . }}
  <div>
    <a href="{{ .RelPermalink }}" class="py-2 px-3 mx-1 rounded-3 text-decoration-none bg-body-tertiary d-inline-block">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
        class="bi bi-chevron-double-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
        <path fill-rule="evenodd"
          d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
      </svg> Zurück</a>
  </div>
  {{ end }}

  <!-- Eintrag Zurück -->
  {{ with $pages.Next . }}
  <div>
    <a href="{{ .RelPermalink }}"
      class="py-2 px-3 mx-1 rounded-3 text-decoration-none bg-body-tertiary d-inline-block">Vorwärts
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
        class="bi bi-chevron-double-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
        <path fill-rule="evenodd"
          d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
      </svg></a>
  </div>
  {{ end }}
</div>

{{ end }}