<div class="container-xl py-1 d-flex flex-column flex-md-row align-items-center justify-content-between">

        <!-- Copyright -->
        <p class="mb-0 pt-3 pt-md-0">Copyright &copy; {{ now.Year }} by {{ .Site.Title }}.at</p>

        <!-- Footer Navbar -->
        <nav class="navbar navbar-expand bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {{ partial "menu.html" (dict "menuID" "footer" "page" . ) }}
                </li>
            </ul>
        </nav>

</div>