<nav id="main-nav" class="navbar navbar-expand-lg bg-dark navbar-dark" aria-label="Offcanvas navbar large">
    <div class="container-xl">
        <a class="navbar-brand" href="/"><i class="bi bi-8-square"></i> {{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label"
            data-bs-theme="dark">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">{{ .Site.Title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto flex-grow-1 pe-3">
                    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
                </ul>

                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-twitter-x align-self-center"
                                aria-label="Besuchen Sie mich auf X" viewBox="0 0 16 16">
                                <path
                                    d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                            </svg></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-github align-self-center"
                                aria-label="Besuchen Sie mich auf Github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                            </svg></a>
                    </li>
                </ul>

                <div class="search-container">
                <form class="d-flex mt-3 mt-lg-0 ms-0 ms-lg-2"><input type="hidden" name="sitesearch"
                        /><input id="search-input" type="text" name="q" maxlength="255" value=""
                        placeholder="Webseite durchsuchen" class="form-control me-1" aria-label="Search" />
                        <button id="clear-search" class="clear-button btn btn-danger">Zurücksetzen</button>
                    
                    
                </form>
                </div>


            </div>
        </div>
    </div>
</nav>