<div class="outer-container" style="position: relative; margin-top: -3.5rem;">
    <div id="particles-js"> </div>
    <div class="particles-overlay"></div>
    <div id="home-splash" class="container-fluid" style="padding-top: 3.5rem;">
      <div class="px-4 py-5 text-center">
        <i class="bi bi-brilliance" style="font-size: 5.5rem;"></i>
        <h1 class="display-4 fw-bold text-body-emphasis">{{ .Site.Title}}</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Professionelle Webseiten für Unternehmen und Selbstständige. Als erfahrener Webdesigner in Wien helfe ich dir dabei, deine Online-Präsenz zu stärken und mehr Kunden zu gewinnen. Hier findest du Tipps und Tricks rund um Webdesign, SEO und Online-Marketing.</p>
   <!--       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" style="pointer-events: all;">Primary
              button</button>
            <button type="button" class="btn btn-outline-danger btn-lg px-4"
              style="pointer-events: all;">Secondary</button>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>