<div class="outer-container" style="position: relative; margin-top: -3.5rem;">
  <div id="particles-js"> </div>
  <div class="particles-overlay"></div>
  <div id="home-splash" class="container-fluid" style="padding-top: 3.5rem;">
    <div class="px-4 py-5 text-center">
      <i class="bi bi-brilliance text-primary" style="font-size: 5.5rem;"></i>
      <h1 class="display-4 fw-bold text-body-emphasis">{{ .Page.Title }}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{ .Params.subtitle }}</p>
        <!--       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" style="pointer-events: all;">Primary
              button</button>
            <button type="button" class="btn btn-outline-danger btn-lg px-4"
              style="pointer-events: all;">Secondary</button>
            -->
      </div>
    </div>
  </div>
</div>