 <!-- Neuesten Blogeinträge (3) -->

 {{ range ( where .Site.RegularPages "Type" "posts" | first 2 ) }}

 <article class="bg-body-tertiary p-3 p-md-4 mb-3 rounded-3">
   <header>
     <h3 class="mb-0 border-bottom pb-2 mb-2">
       <a class="text-decoration-none" href="{{ .RelPermalink }}">
         {{ .LinkTitle }}
       </a>
     </h3>
   </header>

   <div class="byline small text-light text-opacity-50">
     <address class="author d-inline">Von <i class="bi bi-person-fill"></i> <a rel="author" class="text-decoration-none" href="/about">{{ .Params.author }}</a></address> 
     am <time pubdate datetime='{{ .Date | time.Format ":date_short" }}'>{{ .Date.Day }}. {{ index site.Data.months_german (printf "%d"
       .Date.Month) }} {{ .Date.Year }}</time>
   </div>   
   
   <p>{{ .Summary | truncate 360 }}        <a class="text-decoration-none d-inline" href="{{ .RelPermalink }}">
    [ <i class="bi bi-box-arrow-up-right"></i> mehr lesen ... ]
  </a></p>

   <footer class="small text-light text-opacity-50 border-top pt-2">

    <div class="d-flex justify-content-between">
      <div> 
        <span><i class="bi bi-tags"></i> Tags: </span>
        {{- with .Params.tags -}}
        {{- if ge (len .) 1 -}}
        {{- range . -}}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/"><span class="badge text-bg-secondary">{{ . }}</span></a>
        {{ end -}}
        {{- end -}}
        {{- end -}}
      </div>
    
      <div>
        {{ partial "share-buttons.html" . }}
      </div>
    
    </div>


   </footer>

 </article>

 {{end}}